
        <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Тестовое задание “Каталог”</title>
    <link rel="stylesheet" href="catalog/view/theme/tz/assets/css/styles.min.css" />
    <script src="catalog/view/theme/tz/assets/js/jquery-1.8.3.min.js"></script>
    <script src="catalog/view/theme/tz/assets/js/common.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <a href="#"><img class="header__logo" src="catalog/view/theme/tz/assets/images/header__logo.png" alt="Auto Company 7" /></a>
            <div class="header__info">Тестовое задание “Каталог”</div>
        </div>
    </header>
            <div class="sidebar__brands">
                <ul class="sidebar__list">
                    <li class="sidebar__item"><a href="#">Acura (3)</a></li>
                    <li class="sidebar__item"><a href="#">Alfa Romeo (2)</a></li>
                    <li class="sidebar__item"><a href="#">Audi (12)</a></li>
                    <li class="sidebar__item"><a href="#">BMW (26)</a></li>
                    <li class="sidebar__item"><a href="#">Chevrolet (3)</a></li>
                    <li class="sidebar__item"><a href="#">Chrysler (6)</a></li>
                    <li class="sidebar__item"><a href="#">Citroen (14)</a></li>
                    <li class="sidebar__item"><a href="#">Dacia (1)</a></li>
                    <li class="sidebar__item"><a href="#">Dodge (4)</a></li>
                    <li class="sidebar__item"><a href="#">Fiat (8)</a></li>
                    <li class="sidebar__item"><a href="#">Ford (11)</a></li>
                    <li class="sidebar__item"><a href="#">Honda (8)</a></li>
                    <li class="sidebar__item"><a href="#">Hyundai (6)</a></li>
                    <li class="sidebar__item"><a href="#">Infiniti (1)</a></li>
                    <li class="sidebar__item"><a href="#">Kia (6)</a></li>
                    <li class="sidebar__item"><a href="#">Lancia (1)</a></li>
                    <li class="sidebar__item"><a href="#">Land Rover (4)</a></li>
                </ul>
                <ul class="sidebar__list sidebar__list_type_right">
                    <li class="sidebar__item"><a href="#">Lexus (8)</a></li>
                    <li class="sidebar__item"><a href="#">Mazda (9)</a></li>
                    <li class="sidebar__item"><a href="#">Mercedes (30)</a></li>
                    <li class="sidebar__item"><a href="#">Mitsubishi (3)</a></li>
                    <li class="sidebar__item"><a href="#">Nissan (12)</a></li>
                    <li class="sidebar__item"><a href="#">Opel (16)</a></li>
                    <li class="sidebar__item"><a href="#">Peugeot (15)</a></li>
                    <li class="sidebar__item"><a href="#">Porsche (3)</a></li>
                    <li class="sidebar__item"><a href="#">Renault (15)</a></li>
                    <li class="sidebar__item"><a href="#">Saab (1)</a></li>
                    <li class="sidebar__item"><a href="#">Seat (3)</a></li>
                    <li class="sidebar__item"><a href="#">Skoda (6)</a></li>
                    <li class="sidebar__item"><a href="#">Subaru (2)</a></li>
                    <li class="sidebar__item"><a href="#">Suzuki (4)</a></li>
                    <li class="sidebar__item"><a href="#">Toyota (26)</a></li>
                    <li class="sidebar__item"><a href="#">Volvo (9)</a></li>
                    <li class="sidebar__item"><a href="#">VW</a></li>
                </ul>
            </div>
        </aside>